<% if flash.count > 0 %>
  <div class="row p-md">
    <div class="col-lg-12 text-center">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
    </div>
  </div>
<% end %>

<% is_edit = action_name == 'edit' || action_name == 'update' ? true : false %>

<% form_options = {data: { 'parsley-validate': '' } } %>
<% form_options[:html] = { method: :put } if is_edit %>

<div class="row">
  <div class="col-12">
    <h2>Create Auction Account</h2>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, data: { 'parsley-validate': '' }, url: registration_path(resource_name)) do |f| %>
  <% pwd_minlength = 6 %>

  <%= f.error_notification %>

  <div class="form-inputs my-3">  <%# START: FORM-INPUTS %>

    <div class="form-row">
      <div class="col-6">
        <%= f.input :first_name, label: 'First Name', required: true, autofocus: params[:action] == 'new',
                    maxlength: 50, input_html: { autocomplete: "given-name" } %>
      </div>
      <div class="col-6">
        <%= f.input :last_name, label: 'Last Name', required: true, autofocus: params[:action] == 'new',
                    maxlength: 50, input_html: { autocomplete: "family-name" } %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <% email_data = { 'parsley-maxlength': 100 } %>
        <%= f.input :email, maxlength: 100, required: !is_edit, input_html: { autocomplete: "email", data: email_data } %>
      </div>
      <% if is_edit %>
        <div class="col-sm-6"></div>
      <% else %>
        <div class="col-sm-6">
          <% email_confirmation_data = { 'parsley-equalto': '#user_email', 'parsley-maxlength': 100 } %>
          <%= f.input :email_confirmation, label: 'Confirm Email', maxlength: 100,
                      required: !is_edit, input_html: { autocomplete: "email", data: email_confirmation_data } %>
        </div>
      <% end %>
    </div>


    <div class="form-row">
      <div class="col-6">
        <% password_data = { 'parsley-maxlength': 50, 'parsley-minlength': pwd_minlength } %>
        <%= f.input :password, required: !is_edit do %>
          <%= f.input_field :password, maxlength: 50, minlength: pwd_minlength, required: !is_edit,
                            autocomplete: "new-password", class: 'form-control',
                            data: password_data,
                            oninput: "this.value = this.value.slice(0, this.maxLength);" %>
          <% if is_edit %>
            <small class="form-text text-muted">
              Leave blank if not changing, else minimum <%= pwd_minlength %> characters.
            </small>
          <% else %>
            <small class="form-text text-muted">
              Minimum <%= pwd_minlength %> characters.
            </small>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
        <% password_confirmation_data = { 'parsley-equalto': '#user_password', 'parsley-maxlength': 50,
                                          'parsley-minlength': pwd_minlength } %>
        <%= f.input :password_confirmation, label: 'Confirm Password', required: !is_edit,
                    maxlength: 50, minlength: pwd_minlength,
                    input_html: { autocomplete: "new-password",
                                  data: password_confirmation_data,
                                  oninput: "this.value = this.value.slice(0, this.maxLength);" } %>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-6">
          <%= f.input :phone, label: "10 Digit Phone (for text alerts)", maxlength: 10, required: true, input_html: { autocomplete: "phone" }  %>
      </div>
      <div class="col-md-6">
        <%= f.input :sign_up_code, label: "Code (Admin use only)" %>
      </div>
    </div>


  
  <div class="form-row mt-3 mb-3">
<!--       <div class="col-md-12">
          <%= f.input :read_sms_opt_in, as: :boolean, label: "I have read the <a class='sms_privacy_link' data-toggle='modal' data-target='#sms_opt_in_modal'>SMS opt-in policy</a>".html_safe, required: true  %>
      </div> -->

      <div class="col-md-12">
          <%= f.input :read_sms_opt_in, as: :boolean, label: "By checking this box and providing your mobile number, you are agreeing to receive SMS messages from AHLE Auction regarding the Auction status and the items you have bid on. Message frequency may vary and Msg & Data rates may apply. Reply STOP to unsubscribe at any time. Data Collected is soley for the Auction and will not be shared or sold.".html_safe, required: true  %>
      </div>

    </div>



  </div>  <%# END: FORM-INPUTS %>


  <div class="form-actions row mt-3 mb-5">
    <div class="col-8">
      <%= f.button :submit, "Submit", class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-4">
      <% if is_edit %>
        <%= link_to('Cancel', root_path, class: 'btn btn-dark btn-block') %>
      <% else %>
        <%= link_to('Cancel', root_path, class: 'btn btn-dark btn-block') %>
      <% end %>
    </div>
  </div>


<% end %>

<%= render partial: "application/sms_privacy_policy" %>
