<%= simple_form_for(@auction) do |f| %>
  <%= f.error_notification %>

  <div class="row mt-3">
    <dix class="col-12">
      <% unless @auction.persisted? %>
        <h3>New Auction</h3>
      <% end %>
    </dix>
  </div>


  <div class="form-row">
    <div class="col-12">
      <%= f.input :name, required: true %>
    </div>
    <div class="col-12">
      <h5 class="card-title mb-2">Sections Linked to Auction</h5>
      <%= f.input :section_ids,
                  collection: Section.where(active: true),
                  label_method: :title,
                  label: false,
                  input_html: { multiple: true, size: 15 },
                  hint: 'Select as many sections, hold control / command while clicking.'
      %>
    </div>
    <div class="col-12">
      <%= f.input :active, required: true %>
    </div>
  </div>


  <div class="row my-3">
    <dix class="col-12">
      <% if @auction.persisted? %>
        <%= f.submit 'Update Auction Details', class:"btn btn-success btn-md" %>
      <% else %>
        <%= f.submit 'Create Auction', class:"btn btn-success btn-md" %>
      <% end %>
        <%= link_to('Cancel', admin_index_path, class: "btn btn-secondary btn-md") %>
    </dix>
  </div>
<% end %>
