<%= simple_form_for(@section) do |f| %>
  <%= f.error_notification %>

  <div class="row mt-3">
    <div class="col-12">
      <% unless @section.persisted? %>
        <h3>New Section</h3>
      <% end %>
    </div>
  </div>


  <div class="form-row">
    <div class="col-12">
      <%= f.input :title, required: true %>
    </div>
    <div class="col-12">
      <%= f.input :display_name, required: true %>
    </div>
    <div class="col-12">
      <%= f.input :end_time, required: true %>
    </div>
    <div class="col-12">
      <h5 class="card-title mb-2">Items Linked to Section</h5>
      <%= f.input :item_ids,
                  collection: @section.selectable_items,
                  label_method: :name,
                  label: false,
                  input_html: { multiple: true, size: 15 },
                  hint: 'Select as many items, hold control / command while clicking.'
      %>
    </div>
    <div class="col-12">
      <%= f.input :active, required: true %>
    </div>
  </div>


  <div class="row my-3">
    <div class="col-12">
      <% if @section.persisted? %>
        <%= f.submit 'Update Section Details', class:"btn btn-success btn-md load_spinner" %>
      <% else %>
        <%= f.submit 'Create Section', class:"btn btn-success btn-md load_spinner" %>
      <% end %>
      <%= link_to('Cancel', admin_index_path, class: "btn btn-secondary btn-md") %>
    </div>
  </div>
<% end %>
