<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="row mt-3">
    <div class="col-12">
      <% unless @item.persisted? %>
        <h3>New Item</h3>
      <% end %>
    </div>
  </div>


  <div class="form-row">
    <div class="col-12">
      <%= f.input :name %>
    </div>
    <div class="col-sm-6 ">
      Item Photo<br>
      <%= f.input :photo, as: :file, label: false %><br>
      <%= f.hidden_field :photo_cache %>
      <% if f.object.photo.url.present? %>
        current: <%= image_tag(f.object.photo.decent_size.url , class: 'img-fluid') %>
      <% else %>
        current: None
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= f.input :description, as: :text, :input_html => { :rows => 6 } %>
    </div>
    <div class="col-12 mt-2">
      <%= f.input :section_id, collection: Section.all.order(:display_name), label: "Section", selected: f.object.section_id || Section.all.order(:display_name).first %>
    </div>
    <div class="col-6 mt-2">
      <%= f.input :starting_bid, label: "Base Bid" %>
    </div>
    <div class="col-6 mt-2">
      <%= f.input :min_bid, label: "Minimum Bid Increment" %>
    </div>
    <div class="col-12 my-2">
      <small>
        <b>*** Opening bid will be the Base Bid + the Minimum Bid Increment</b>
      </small>
    </div>
    <div class="col-12">
      <%= f.input :active %>
    </div>
  </div>


  <div class="row my-3">
    <div class="col-12">
      <% if @item.persisted? %>
        <%= f.submit 'Update Item Details', class:"btn btn-success btn-md load_spinner" %>
      <% else %>
        <%= f.submit 'Create Item', class:"btn btn-success btn-md load_spinner" %>
      <% end %>
      <%= link_to('Cancel', admin_index_path, class: "btn btn-secondary btn-md") %>
    </div>
  </div>
<% end %>
