<div class="row mt-3">
  <div class="col-sm-12">
    <h2>
      <span>Auctions </span><span class="small"></span>
      <small><%= link_to 'Create Auction', new_auction_path, class: 'btn btn-sm btn-success mb-1 ml-2' %></small>
      <!--      <small>-->
      <%#= link_to('Download Results', auctions_report_path, class: 'btn btn-sm btn-primary mb-1 ml-2', target: '_report') %>
      <!--      </small>-->
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="auctions">


      <table id="auction_data" class="table table-sm table-bordered table-striped my-4">
        <thead class="thead-dark">
        <tr>
          <th class="d-md-table-cell">Title</th>
          <th class="d-none d-md-table-cell">Sections</th>
          <th class="d-md-table-cell text-center actions">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @auctions.each do |auction| %>

          <tr>
            <td class="px-3">
              <b><%= auction.name %></b></br>
                Active 
                <% if auction.active %>
                  <b class="text-success"><%= auction.active.to_s.titleize %></b>
                <% else %>
                  <b class="text-danger"><%= auction.active.to_s.titleize %></b>
                <% end %>
              </td>
            <td class="d-none d-md-table-cell px-3">
              <% auction.sections.order(end_time: :asc).each do |s| %>
                <%= "#{s.title}<br>".html_safe %>
              <% end %>
            </td>
            <td class="px-3 d-md-table-cell text-center">
              <%= link_to 'Edit', edit_auction_path(auction), class: "btn btn-sm btn-primary mb-1" %>
              <%= link_to 'Delete', auction_path(auction), method: :delete,
                          data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mb-1" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>