<% bid_logic = item.bid_values %>
<div class="row mb-5 item_object">
  <div class="col-12">
    <div class="row header mb-3">
      <div class="col-md-6 mb-3 text-center">
        <h5><span id="item_bid_show_name"><%= item.name %></span></h5>
      </div>
      <div class="col-md-6">
        <%= render partial: "auctions/partials/timer_partial", locals: { section: section } %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 text-center">
        <img class="img-fluid" src="<%= item.photo.decent_size.url %>">
      </div>
      <div class="col-md-8">
        <%= item.description %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 text-left mb-3">
        <% if DateTime.now > section.end_time %>
         Winning Bid: $<span id="item_bid_show_<%= item.id %>"><%= bid_logic[:high_bid] %></span>
        <% else %>
          <% if bid_logic[:high_bid] == 0 %>
            Starting Bid: $<span id="item_bid_show_<%= item.id %>"><%= bid_logic[:valid_bid] %></span>
          <% else %>
            Current Highest Bid: $<span id="item_bid_show_<%= item.id %>"><%= bid_logic[:high_bid] %></span>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% unless DateTime.now > section.end_time %>
        <button type="button" id="bid_pop_<%= item.id %>" class="btn btn-block btn-success" data-toggle="modal" data-target="#bidModal_<%= item.id %>">
          Bid
        </button>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: "auctions/partials/bid_modal", locals: { item: item, section: section, user: @user, bid_logic: bid_logic } %>
</div>