<div class="row mt-3">
  <div class="col-sm-12">
    <h2>
      <span>Items </span><span class="small"></span>

      <small><%= link_to 'Create Item', new_item_path, class: 'btn btn-sm btn-success mb-1 ml-2' %></small>

      <!--      <small>-->
      <%#= link_to('Download Results', items_report_path, class: 'btn btn-sm btn-primary mb-1 ml-2', target: '_report') %>
      <!--      </small>-->

    </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-right">
    

  </div>
</div>

<div class="row">
  <div class="col-12">

    <%# ************************************** %>
    <%# ************************************** %>

    <div class="items">


      <table id="item_data" class="table table-sm table-bordered table-striped my-4">
        <thead class="thead-dark">
        <tr>
          <th class="d-md-table-cell">Item</th>
          <th class="d-md-table-cell">Title</th>
          <th class="d-md-table-cell" style="width: 25%" >Description</th>
          <th class="d-none d-md-table-cell" style="width: 23%" >Bid </br>Structure</th>
          <th class="d-md-table-cell text-center actions"><button type="button" class="btn btn-warning btn-sm mb-1" data-toggle="modal" data-target="#tip_modal">Search Tips</button></br> Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @items.each do |item| %>

          <tr>
            <td class="d-md-table-cell px-3">
              <%= image_tag(item.photo_thumbnail_url , class: 'img-fluid') %></br>
              <%= item.section_label.gsub(" ","-") %></br>
              Active 
              <% if item.active %>
                <b class="text-success"><%= item.active.to_s.titleize %></b>
              <% else %>
                <b class="text-danger"><%= item.active.to_s.titleize %></b>
              <% end %>
              <div style="display: none;"><%= item.photo_thumbnail_url %></div>
            </td>
            <td class="px-3"><%= item.scrubbed_title %></td>
            <td class="px-3"><div class="descrip_item_table" ><%= item.scrubbed_description %></div></td>
            <td class="px-3 d-none d-md-table-cell">
              Base <b>(<%= item.starting_bid.to_i %>)</b></br>
              Increment <b>(<%= item.min_bid.to_i %>)</b></br>
              Open<b> (<%= item.starting_bid.to_i + item.min_bid.to_i %>)</b>
              </td>
            <td class="px-3 d-md-table-cell text-center">
              <button type="button" class="btn btn-success btn-sm mb-1" data-toggle="modal" data-target="#item_bids_modal_<%= item.id %>">
                Bids
              </button>
              <%= link_to 'Edit', edit_item_path(item), class: "btn btn-sm btn-primary mb-1" %>
              <%= link_to 'Delete', item_path(item), method: :delete,
                          data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mb-1" %>
              <%= render partial: "auctions/partials/item_bids_modal", locals: { item: item } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= render partial: "auctions/partials/tips_modal" %>